/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*************************************************************************************************************************************************************
   Author's custom styles
  *************************************************************************************************************************************************************/



/*******************************************************  GENERAL STYLES- MOBILE    ********************************************************************************/
html {
  font-size: 16px;
}

body {
  font-size: 1em; 
  font-family: 'Source Sans Pro', sans-serif;
  color: #010622;
  text-align: left;
}
/**  general container styles & vertical spacing classes here **/

.content-wrapper {   /* add padding  50px/ 20px of each section */
  padding: 50px 20px;  
}

.full-width { /* align child divs center on x/y axis & row wrap */ 
  width: 100%; 
  display: flex; 
	align-items: center;
	justify-content: center;
  flex-flow: row wrap;
}

.half-width{  /*align items in this container center on x/y axis */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap; 
  width: 100%;
}

.fifth-width { /*container for capabilities CPC-CPM*/
  display: flex;
  align-content: flex-start; /*align content at the y-axis*/
  justify-content: center;
  flex-flow: row wrap;
  background-color: #ffff;
  box-shadow: 10px 10px 5px #bfbfbf; /* soft shadow around container*/
  min-height: 200px; 
  min-width: 200px;
  margin: 10px 0;
  border-radius: 3%; /*rounded corners*/
  padding: 30px 20px 30px 20px;
}

.plus-padding-top{ /*adds additional padding at the top for mobile only*/
  padding-top:50px;
}

/**  general font styles here **/

h1{
  font-size: 1.5em;
  font-family:'Raleway', sans-serif;
  margin-bottom: 5px;
}
h2 {
  font-family:'Raleway', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}
h3 {
  font-family:'Raleway', sans-serif;
  font-size: 1.1875em;
  font-weight: bold;
}

h4 {
  font-size: 2em;
  font-weight: bold;
  color: #6C9D3B;
  font-family:'Raleway', sans-serif;
  text-align: center;
  margin: 0 auto; 
}

p {
  font-size: 1em; 
  line-height: 1.285;
}

span{
  font-size: 0.875em;
}

a {  /* hyperlink in e-mail address & nav */
  color: #ffff;
  text-decoration: none;	
  font-size: 1em; 
}

/*******************************************************  HERO-  MOBILE    **************************************************/

#hero{
  background: url('../img/hero.jpg');
  min-height: 400px;
  background-size: cover;
  margin-top: 0;
  padding-top: 0;
  overflow: auto;
  color:#ffff;
  display: flex;
  justify-content: center;
  align-items:center;
}

#jumbotron{
text-align: center;
background: rgb(1, 6, 34, 0.85); /* background opacity*/
border-radius:60px;
padding: 5px 5px;
margin: 0 10px;
width:100%;
max-width:450px;
}

#hero-button{
  margin: 10px 0 20px 0;
  font-size: 0.875em;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  background-color: #6C9D3B;
  border:none;
  padding: 7px 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

/*******************************************************  CAPABILITIES-  MOBILE    **************************************************/

#capabilities{
  background-color: #F4F4F4;
}

/****** PART 1 CAPABILITIES - see .fifth-width container in general styles *******/

/****** PART 2 CAPABILITIES *******/

#capabilities h3 {
  text-align: left;
  width: 100%;
}

#capabilities figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}

#capabilities img {
  width: 100%;
}
.button { /* button styles */
  border: none;
  color: white;
  padding: 13px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  border-radius: 30px;
  cursor: pointer;
  background-color: #6C9D3B;
  margin: 4px 0 40px 0;
}



/*******************************************************  PRICING- MOBILE    **************************************************/
#pricing {
  background: url('../img/women.jpg');
  min-height: 1000px; /*might need to adjust based on content size*/
  background-size: cover;
  margin-top: 0;
  padding-top: 0;
  overflow: auto;
  color: #ffff;
}
#pricing h3{
  width:100%;
  text-align: center;
}
#pricing .half-width{
  height: 300px;
  width:300px;
  background: #010622; 
  margin: 10px 5px;
  align-content: center;
}
.pricing-button { /* pricing button styles */
  color: white;
  width: 150px; /* using width & height for uniform buttons*/
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  border: 3px solid #6C9D3B;
  margin: 4px 0 40px 0;
}

/************************   PRICING CONTENT AT HOVER OVER -MOBILE    *******************************/

.overlay-container {
  position:relative;
}

.overlay {
top: 0;
bottom: 0;
position: absolute;
opacity: 0; /* hide content by default */
transition: .5s ease;
width:100%;
height:100%;
}

.overlay-container:hover .overlay { /* show content when hovering over div*/
  opacity: 1;
}

.text {  
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 0.875em;
}

aside { /* adjust styling of prices here*/
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

/*******************************************************  FOOTER- MOBILE    **************************************************/
footer {
  color: #ffff; 
  background-color: #010622;
  padding-top: 50px;
}


#contact h3{
  text-align:center;
  width: 100%;
}


footer .social-icon { /* align social media icons horizontally*/
  display: flex; 
  justify-content: space-around;
  align-items: center;
}
footer .social-icon p { /* align social media icons center in their container*/
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: #6C9D3B;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

footer .social-icon i {
  font-size: 1.3125em;
  color: #ffff;
}   

#copyright{
  font-size: 0.875em; 
  text-align: center;
  padding: 40px 0 10px 0; 
}









/*************************************************************************************************************************************************************
   End of Author's custom styles
  *************************************************************************************************************************************************************/
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/**************************************************************************************************************************
                MEDIA QUERY  TABLET 
**************************************************************************************************************************/

@media only screen and (min-width: 768px) {


/******************************************* GENERAL STYLES TABLET *******************************************/

.content-wrapper {  /* add padding 100px/100px to it's container*/
  padding: 100px 30px; 
}

.half-width {
  width: 49%; 
  align-items:flex-start;
}
.fifth-width { /*container for capabilities CPC-CPM*/
 width: 280px;
 height: 220px;
 margin: 10px 7px;
 padding: 30px 10px 30px 15px;
}

.plus-padding-top{ /* remove padding for half-width. added this in capabilities for entire container*/
  padding-top: 0;
}

.plus-padding-left{
  padding-left: 10px;
}
/**  general font styles -TABLET here **/
h1{
  font-size: 2.25em;
  margin-bottom: 20px;
}
h2{
  font-size: 2.25em;
}

h3{
  margin: 0 auto;
}
span{
  font-size: 1.1875em;
}
/******************************************* HERO TABLET *******************************************/
#hero{
  min-height: 500px;
}
#jumbotron{
  width:70%;
  padding: 10px;
  max-width: 700px;
}
#hero-button{
  font-size: 1.1875em;
  margin: 20px 0;
}

/******************************************* CAPABILITIES TABLET *******************************************/
#capabilities .full-width{
  margin-top: 50px; /* add 50px margin at the top of each */
}
#capabilities .half-width{ /*align text & img at the same height*/
  align-self: flex-start ;
}

#capabilities p {
  margin: 15px 20px 15px 0;
}
#flex-order{ /* amend order of desk.jpg */
  order:-1;
}

/******************************************* PRICING TABLET *******************************************/

/*  need to align text & button in the center */
  #pricing {
    min-height: 700px;
  }
  #pricing .half-width{
    margin: 10px 10px;
  }

  #pricing h3 {
    margin-bottom: 40px;
  }
  .pricing-button{
    font-size: 1.1875em;
  }

/************************   PRICING CONTENT AT HOVER OVER- TABLET    *******************************/

.text{
  font-size: 1em;
}

aside{
  font-size: 1.5em;
}
/******************************************* FOOTER TABLET *******************************************/
footer {  /*add padding-top to footer section*/
  padding-top: 80px; 
}
footer .half-width{ /* minimum height for footer content to be aligned with align-items*/
  min-height: 120px;
}


#contact p {
  margin-top: 0;
}

#copyright{
  font-size: 1em;
  padding: 60px 0 20px 0;
}

} /*END OF MEDIA QUERY TABLET */


/**************************************************************************************************************************
                MEDIA QUERY  DESKTOP
**************************************************************************************************************************/

@media only screen and (min-width: 1200px){

  .content-wrapper{
    padding: 100px 40px;
  }
  .fifth-width{
    max-width:18%;
    min-height: 340px;
    margin: 10px 10px 0 0;
    padding: 30px 0 30px 10px;
  }

 

  /**  general font styles -DESKTOP here **/
  h1{
    font-size: 4em;
  }
  h3{
    font-size: 1.8em;
  }

  p{
    font-size: 1.1875em;
    line-height: 1.33;
  }

  span{
    font-size: 2em;
    line-height: 1.33;
  }
/******************************************* HERO DESKTOP *******************************************/

#hero{
  min-height: 800px;
  background-attachment:fixed;
}

#jumbotron{
  width: 80%;
  max-width: 1200px;
}
#hero-button{
  font-size: 1.5em;
  margin: 30px;
  padding:13px 40px;
}
/******************************************* CAPABILITIES DESKTOP *******************************************/

  #break { /*remove break in google adwords/ online rep*/
      display: none;
  }

  #capabilities .full-width{
    margin-top: 120px; /* add 80px margin at the top of each */
  }

  .fifth-width p{ /* CPC-CPM smaller font-size*/
    font-size: 1em;
  }

  #capabilities p {
    margin: 25px 35px 30px 0;
  }
  .button { /*button styles*/
    font-size: 1.1875em;
    padding: 20px 37px;
  }
/******************************************* PRICING DESKTOP *******************************************/
#pricing .half-width{
  width: 450px;
  height: 450px;
}


/******************************************* FOOTER DESKTOP *******************************************/
footer{
  padding-top: 100px;

}
footer .half-width{ /* minimum height for footer content to be aligned with align-items*/
  min-height: 180px;
}

footer .social-icon p{
  width:50px;
  height:50px;
  line-height: 0;
}

} /* END OF MEDIA QUERY DESKTOP*/

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

